<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/viewone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet">
</head>

<body>
    <div class="body">
        <div class="nav fixed-top">
            <div class="logo">C a r p e&nbsp; D i e m <img src="/images/logo.png" alt="" id="logo"></div>
            <div class="navbar navbar-expand-lg  w-75 ">
                <div class="container-fluid">

                    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mr-0  ">
                            <li class="nav-item">
                                <a class="nav-link " href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/make">Make a Trip</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/api/yacht/view">History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">Premium Pass</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Features
                                </a>
                                <ul class="dropdown-menu" style="margin-top: 17px;">
                                    <li><a href="#">Podcast</a></li>
                                    <li><a href="#">Yatch Design</a></li>
                                    <li><a href="#">Yatch Advice</a></li>
                                    <li><a href="/about">About Us</a></li>
                                </ul>
                            </li>

                        </ul>
                        <form class="d-flex me-5" role="search">
                            <input class="form-control me-3 " type="search" placeholder="Search more "
                                aria-label="Search" style="margin-left: 00px; width: 200px;">
                            <button class="btn btn-outline-light w-70" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- //////////////////////// -->



        <div class="cards">


            <div class="cardcollection">
                <div class="img">
                    <img src="/upload/<%= data.image %>" class="img1" alt="">
                </div>
                <div class="collection">
                    Name: <%= data.name %> <br>
                        Location: <%= data.location %><br>
                            Email: <%= data.email %><br>
                                Phone: <%= data.phone %><br>
                                    Time: <%= data.time %><br>


                </div>
                <div class="input">
                    <a href="/api/yacht/edit/<%= data._id %>"><input type="button" value="EDIT" class="view"></a>
                    <a href="/api/yacht/delete/<%= data._id %>"> <input type="button" value="DELETE" class="delete"></a>
                </div>
            </div>

        </div>
    </div>
</body>

</html>